# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# VSCode
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Output
output/
checkpoints/

# Python cache
*.pyo